@using BaseClassLibrary.Classes;
@using BlazorBootstrapComponents.Enums
@using Microsoft.AspNetCore.Components.Forms

@typeparam TValue
@typeparam ListValue

@inherits InputSelect<TValue>

@{
    string _class = string.Concat("form-select ",
                            GenerateFunctions.GenerateBackgroundColor(Background),
                            GenerateFunctions.GenerateFormSelectSize(Size)).Trim();
    var typeObj = Data.First().GetType();
    var textProp = typeObj.GetProperty(TextField);
    var valueProp = typeObj.GetProperty(ValueField);
}

@if (HorizontalLayout)
{
    <BSRow Class=@Class>
        <BSColumnLabel For=@Id Bold=true Size=@Size MediaWidth=@MediaWidthLabel MediaAlignment=@MediaLabelAlignment>@Title</BSColumnLabel>
        <div class="@GenerateFunctions.GenerateColumnWidth(MediaWidthTextBox)">
            <InputSelect id=@Id class="@_class" @attributes=@Attributes @bind-Value=@Value>
                @if (DefaultLabel != null)
                {
                    <option value=0>@DefaultLabel</option>
                }
                @foreach (var item in Data)
                {
                    <option value=@valueProp.GetValue(item).ToString()>@textProp.GetValue(item).ToString()</option>
                }
            </InputSelect>
        </div>
    </BSRow>
}
else
{
    @if (FloatingLabel)
    {
        <div class="form-floating @Class">
            <InputSelect id=@Id class="@_class" @attributes=@Attributes @bind-Value=@Value>
                @if (DefaultLabel != null)
                {
                    <option value=0>@DefaultLabel</option>
                }
                @foreach (var item in Data)
                {
                    <option value=@valueProp.GetValue(item).ToString()>@textProp.GetValue(item).ToString()</option>
                }
            </InputSelect>
            <BSLabel Bold=true For=@Id>@Title</BSLabel>
        </div>
    }
    else
    {
        <div class=@Class>
            @if (Title != null)
            {
                <BSLabel Bold=true For=@Id>@Title</BSLabel>
            }
            <InputSelect id=@Id class="@_class" @attributes=@Attributes @bind-Value=@Value>
                @if (DefaultLabel != null)
                {
                    <option value="0">@DefaultLabel</option>
                }

                @foreach (var item in Data)
                {
                    <option value=@valueProp.GetValue(item).ToString()>@textProp.GetValue(item).ToString()</option>
                }
            </InputSelect>
        </div>
    }
}

@code {
    [Parameter] public IEnumerable<ListValue> Data { get; set; }
    [Parameter] public string DefaultLabel { get; set; }
    [Parameter] public string Class { get; set; } = string.Empty;
    [Parameter] public BackgroundColorEnum Background { get; set; } = BackgroundColorEnum.Empty;
    [Parameter] public string Title { get; set; } = string.Empty;
    [Parameter] public string Id { get; set; }
    [Parameter] public bool FloatingLabel { get; set; }
    [Parameter] public bool HorizontalLayout { get; set; }
    [Parameter] public string TextField { get; set; }
    [Parameter] public string ValueField { get; set; }
    [Parameter] public ControlSizeEnum Size { get; set; } = ControlSizeEnum.Standard;
    [Parameter] public int[] MediaWidthLabel { get; set; } = new int[] { -1, -1, -1, -1, -1, -1 };
    [Parameter] public int[] MediaWidthTextBox { get; set; } = new int[] { -1, -1, -1, -1, -1, -1 };
    [Parameter] public TextAlignmentEnum[] MediaLabelAlignment { get; set; } = new TextAlignmentEnum[] { TextAlignmentEnum.Empty, TextAlignmentEnum.Empty, TextAlignmentEnum.Empty, TextAlignmentEnum.Empty, TextAlignmentEnum.Empty, TextAlignmentEnum.Empty };

    public Dictionary<string, object> Attributes { get; set; } = new Dictionary<string, object>();

    protected override bool TryParseValueFromString(string value, out TValue result, out string validationErrorMessage)
    {
        if (typeof(TValue) == typeof(int))
        {
            if (int.TryParse(value, out var resultInt))
            {
                result = (TValue)(object)resultInt;
                validationErrorMessage = null;
                return true;
            }
            else
            {
                result = default;
                validationErrorMessage = $"The selected value {value} is not a valid number";
                return false;
            }
        }
        else if (typeof(TValue) == typeof(string))
        {
            result = (TValue)(object)value;
            validationErrorMessage = null;
            return true;
        }
        else
        {
            result = default;
            validationErrorMessage = $"The selected value {value} is not a valid number or string";
            return false;
        }
    }
}
