@using BlazorBootstrapComponents.Enums
@using Microsoft.AspNetCore.Components.Forms

@{
	string _class = string.Concat("form-control ",
							GenerateFunctions.GenerateBackgroundColor(Background),
							GenerateFunctions.GenerateFormControlSize(Size)).Trim();

	AdditionalAttributes.Remove("autocomplete");
	if (AutoComplete) { AdditionalAttributes.Add("autocomplete", "on"); }
	else { AdditionalAttributes.Add("autocomplete", "off"); }

	AdditionalAttributes.Remove("placeholder");
	if (PlaceHolder != null) { AdditionalAttributes.Add("placeholder", PlaceHolder); }

	AdditionalAttributes.Remove("disabled");
	if (Disabled) { AdditionalAttributes.Add("disabled", true); }

	AdditionalAttributes.Remove("readonly");
	if (ReadOnly) { AdditionalAttributes.Add("readonly", true); }

	AdditionalAttributes.Remove("required");
	if (Required) { AdditionalAttributes.Add("required", true); }
}
@if (HorizontalLayout)
{
	<div class="row @Class">
		<BSColumnLabel For=@Id Bold=true Size=@Size MediaWidth=@MediaWidthLabel MediaAlignment=@MediaLabelAlignment>@Title</BSColumnLabel>
		@{
			string horizontalClass = GenerateFunctions.GenerateColumnWidth(MediaWidthTextBox);
		}
		<div class="@GenerateFunctions.GenerateColumnWidth(MediaWidthTextBox)">
			<textarea class=@_class id=@Id value=@Value @onchange=@ValueChangedHandler @attributes=@AdditionalAttributes rows=@Rows></textarea>
			@if (FeedbackInValid != null)
			{
				<div id=@FeedbackId class="@horizontalClass invalid-feedback">@FeedbackInValid</div>
			}
			@if (FeedbackValid != null)
			{
				<div id=@FeedbackId class="@horizontalClass valid-feedback">@FeedbackValid</div>
			}
		</div>
	</div>
}
else
{
	@if (FloatingLabel)
	{
		@if (Value != null && Value.Length > 0)
		{
			<div class="form-floating @Class">
				<textarea class=@_class id=@Id value=@Value @onchange=@ValueChangedHandler @attributes=@AdditionalAttributes rows=@Rows></textarea>
				<BSLabel For=@Id>@Title</BSLabel>
				@if (FeedbackInValid != null)
				{
					<div id=@FeedbackId class="invalid-feedback">@FeedbackInValid</div>
				}
				@if (FeedbackValid != null)
				{
					<div id=@FeedbackId class="valid-feedback">@FeedbackValid</div>
				}
			</div>
		}
		else
		{
			<div class="@Class">
				<textarea class=@_class id=@Id value=@Value placeholder=@Title @onchange=@ValueChangedHandler @attributes=@AdditionalAttributes rows=@Rows></textarea>
			</div>
		}

	}
	else
	{
		<div class="@Class">
			@if (Title != null)
			{
				<BSLabel Class=@Class For=@Id>@Title</BSLabel>
			}
			<textarea class=@_class id=@Id value=@Value @onchange=@ValueChangedHandler @attributes=@AdditionalAttributes rows=@Rows></textarea>
			@if (FeedbackInValid != null)
			{
				<div id=@FeedbackId class="invalid-feedback">@FeedbackInValid</div>
			}
			@if (FeedbackValid != null)
			{
				<div id=@FeedbackId class="valid-feedback">@FeedbackValid</div>
			}
		</div>
	}
}
