@using BlazorBootstrapComponents.Enums
@using Microsoft.AspNetCore.Components.Forms


@{
	string _class = string.Concat("form-control ",
							GenerateFunctions.GenerateBackgroundColor(Background),
							GenerateFunctions.GenerateFormControlSize(Size)).Trim();

	AdditionalAttributes.Remove("autocomplete");
	if (AutoComplete) { AdditionalAttributes.Add("autocomplete", "on"); }
	else { AdditionalAttributes.Add("autocomplete", "off"); }

	AdditionalAttributes.Remove("placeholder");
	if (PlaceHolder.Length > 0) { AdditionalAttributes.Add("placeholder", PlaceHolder); }

	AdditionalAttributes.Remove("disabled");
	if (PlaceHolder.Length > 0) { AdditionalAttributes.Add("disabled", true); }

	AdditionalAttributes.Remove("readonly");
	if (PlaceHolder.Length > 0) { AdditionalAttributes.Add("readonly", true); }

}
@if (HorizontalLayout)
{
	<div class="row @Class">
		<BSColumnLabel For=@Id Bold=true Size=@Size MediaWidth=@MediaWidthLabel MediaAlignment=@MediaLabelAlignment>@Title</BSColumnLabel>
		<div class="@GenerateFunctions.GenerateColumnWidth(MediaWidthTextBox)">
			<InputText class=@_class DisplayName=@PlaceHolder @bind-Value=@Value></InputText>
		</div>
	</div>
}
else
{
	@if (FloatingLabel)
	{
		@if(Value != null && Value.Length > 0)
		{
		<div class="form-floating @Class">
			<InputText class=@_class DisplayName=@PlaceHolder @bind-Value=@Value></InputText>
			<BSLabel For=@Id>@Title</BSLabel>
		</div>
		}
		else
		{
			<div class="@Class">
				<InputText class="@_class" DisplayName=@Title placeholder=@Title @bind-Value=@Value></InputText>
			</div>
		}
	}
	else
	{
		<div class="@Class">
		@if (Title != null)
		{
			<BSLabel Class=@Class For=@Id>@Title</BSLabel>
		}
		<InputText class=@_class DisplayName=@PlaceHolder @bind-Value=@Value></InputText>
		</div>
	}
}