@using BlazorBootstrapComponents.Enums
@using Microsoft.AspNetCore.Components.Forms

@{
	string _class = string.Concat("form-control ",
							GenerateFunctions.GenerateBackgroundColor(Background),
							GenerateFunctions.GenerateFormControlSize(Size)).Trim();

	AdditionalAttributes.Remove("autocomplete");
	if (AutoComplete) { AdditionalAttributes.Add("autocomplete", "on"); }
	else { AdditionalAttributes.Add("autocomplete", "off"); }

	AdditionalAttributes.Remove("placeholder");
	if (PlaceHolder != null) { AdditionalAttributes.Add("placeholder", PlaceHolder); }

	AdditionalAttributes.Remove("disabled");
	if (Disabled) { AdditionalAttributes.Add("disabled", true); }

	AdditionalAttributes.Remove("readonly");
	if (ReadOnly) { AdditionalAttributes.Add("readonly", true); }

	AdditionalAttributes.Remove("required");
	if (Required) { AdditionalAttributes.Add("required", true); }
}
@if (HorizontalLayout)
{
	<div class="row">
		<BSColumnFormLabel For=@Id Bold=true Size=@Size MediaWidth=@MediaWidthLabel MediaAlignment=@MediaLabelAlignment>@Title</BSColumnFormLabel>
		@{
			string horizontalClass = GenerateFunctions.GenerateColumnWidth(MediaWidthTextBox);
		}
		<div class="@GenerateFunctions.GenerateColumnWidth(MediaWidthTextBox)">
			<textarea class=@_class id=@Id value=@Value @onchange=@ValueChangedHandler @attributes=@AdditionalAttributes rows=@Rows></textarea>
			@if (FeedbackInValid != null)
			{
				<div id=@FeedbackId class="@horizontalClass invalid-feedback">@FeedbackInValid</div>
			}
			@if (FeedbackValid != null)
			{
				<div id=@FeedbackId class="@horizontalClass valid-feedback">@FeedbackValid</div>
			}
		</div>
	</div>
}
else
{
	@if (FloatingLabel)
	{
		<div class="form-floating">
			<textarea class=@_class id=@Id value=@Value @onchange=@ValueChangedHandler @attributes=@AdditionalAttributes rows=@Rows></textarea>
			<BSFormLabel For=@Id>@Title</BSFormLabel>
			@if (FeedbackInValid != null)
			{
				<div id=@FeedbackId class="invalid-feedback">@FeedbackInValid</div>
			}
			@if (FeedbackValid != null)
			{
				<div id=@FeedbackId class="valid-feedback">@FeedbackValid</div>
			}
		</div>
	}
	else
	{
		@if (Title != null)
		{
			<BSFormLabel For=@Id>@Title</BSFormLabel>
		}
		<textarea class=@_class id=@Id value=@Value @onchange=@ValueChangedHandler @attributes=@AdditionalAttributes rows=@Rows></textarea>
		@if (FeedbackInValid != null)
		{
			<div id=@FeedbackId class="invalid-feedback">@FeedbackInValid</div>
		}
		@if (FeedbackValid != null)
		{
			<div id=@FeedbackId class="valid-feedback">@FeedbackValid</div>
		}
	}
}
